/*=============================Queue Service====================================*/
html, body{
    font-size: 16px;
    font-family 'Nunito' !important;
    background-color: #ebebeb;
    height: 100%;
}

hr{
  background-color: #b9b9b9;
  height: .09rem;
  width: 90%;
  margin: 0 auto !important;
}

.text-is-center{
  text-align: center !important;
}

.text-is-left{
  text-align: left !important;
}

.text-is-right{
  text-align: right !important;
}

.is-font-small{
  font-size: 1rem;
}

.is-background-pink{
  background-color: #fd7baa !important;
}

.is-sidebackground-pink{
  background-color: #fd7baa !important;
  height: 103% !important;
}

.is-background-grey{
  background-color: #e4e4e4 !important;
}

.has-margin-8{
  margin-top: 8rem;
}

.has-radius-3{
  border-radius: .3rem !important;
}

.has-padding-2{
  padding: 2rem !important;
}

.is-huge{
  width: 10rem;
  height: 4rem;
}

.modal-card-foot{
  justify-content: flex-end !important;
}

.card.has-margin-8.has-radius-3.QueueMange{
  width: 100%;
  height: 80%;
}

.card-header-title.QueueMange{
  display: block;
  font-size: 2rem !important;
}

.has-sideheader-QueueMange{
  font-size: 1rem;
  margin-top: 7rem;
}

.has-header-QueueMange{
  font-weight: 900;
  font-size: 1.8rem;
  margin-top: 4rem;
}

.card-content-QueueMange{
  font-weight: 900;
  margin-top: 1rem;
}

.card-contentshow-QueueMange{
  margin-top: 2rem;
  font-weight: 900;
  font-size: 3rem;
}

.card-footershow-QueueMange{
  font-size: 2rem;
  font-weight: 900;
  margin-top: 1rem;
}

.button.QueueMange{
  margin-top: 4rem !important;
  color: white;
  border: 0px;
  width: 5rem;
}


.button.QueueMangePR{
  margin-top: 5.5rem !important;
  color: white;
  border: 0px;
  width: 5rem;
}

.headerr{
  text-align: center;
  padding: 1rem 1rem 0rem 1rem;
  font-size: 1.7rem;
  font-family: 'Nunito-Bold';
  color:white !important;
}

.sub-headerr{
  text-align: center;
  color: white;
  font-weight: 700;
  font-size: .9rem;
}

.Queue-show{
  margin-top: 2rem;
  text-align: center;
  margin-bottom: 2rem;
}

.Queue-show-header{
  color: white;
  font-family: 'Nunito-Bold';
  font-size: 2rem;
}

.Queue-content{
  color: white;
  margin-top: 1rem;
}

.Queue-content-name{
  font-size: 3rem;
  font-weight: 900;
}

.Queue-sub-content{
  font-size: 1.7rem;
  font-family: 'Nunito' !important;
}

.Queue-second-content{

}

.Queue-second-content ul li{
  padding: 1rem;
  color: white;
  font-size: 1.55rem;
  border-bottom: 1px solid #FFFFFF !important;
}

@media screen and (max-width: 480px) {

  .card.is-background-grey.has-radius-3.QueueService{
    max-width: 80% !important;
  }

  .columns.is-mobile.has-margin-8.has-padding-2.QueueService{
    margin-top: 2rem !important;

  }

  .modal-card-title{
    font-size: 90% !important;
  }

  .label.QueueService{
    font-size: 90% !important;
  }


}

@media screen and (max-width: 680px) {

  .columns.is-mobile.has-margin-8.has-padding-2.QueueService{
    margin-top: 2rem !important;
  }


}

@media screen and (max-width: 768px) {

  .card.is-background-grey.has-radius-3.QueueService{
    max-width: 80% !important;
  }

  .columns.is-mobile.has-margin-8.has-padding-2.QueueService{
    margin-top: 2rem !important;
  }



}

@media screen and (max-width: 992px) {

  .card.is-background-grey.has-radius-3.QueueService{
    max-width: 80% !important;
  }

  .columns.is-mobile.has-margin-8.has-padding-2.QueueService{
    margin-top: 2rem !important;
  }


}

@media screen and (max-width: 1200px) {

  .card.is-background-grey.has-radius-3.QueueService{
    max-width: 80% !important;
  }

  .columns.is-mobile.has-margin-8.has-padding-2.QueueService{
    margin-top: 2rem !important;
  }

}
